@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Poppins:wght@400;500;600;700;800&display=swap');

/* @import url('https://fonts.cdnfonts.com/css/forte'); */
@font-face {
    font-family: 'forte';
    src: url(../fonts/FORTE.TTF) format('ttf');
}

:root {

    /* ------------- Definición de las variables de colores ------------------- */
    --bg-claro-color: #e1e2e6;
    --bg-pastel-color: #f2e3e6;
    --bg-oscuro-color: #000;
    --bg-oscuro-transp: rgba(0, 0, 0, 0);
    --text-claro-color: #fffdfc;
    --text-oscuro-color: #323337;
    --nav-hover-color: #CE967B;
    --btn-color: #FAEc8f;
    /*  #CE967B; */
    --btn-hover-color: #ebad8d;

    /* ------------- Definición de las variables de imágenes ------------------- */

    --bg-imagen: url(../image/fondoPastelería1.jpg);
    --bg2-imagen: url(../image/fondoPastelería.jpg);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    /* Desplazamiento suave del Boton ScrollTop */
    font-size: 18px;

}

body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}




.container {
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;

}

/* ----------- BOTONES ----------- */

.btn-1 {
    display: inline-block;
    /* Los enlaces son de tipo texto, lo convertimos a block para aplicar padding y margin */
    font-size: 1.9rem;
    /* Tamaño de la letra */
    font-weight: 700;
    /* Tamaño del Grosor */
    padding: 1rem 1rem;
    background-color: var(--btn-color);
    /* Color de fondo */
    color: var(--text-oscuro-color);
    /* Color texto */
    text-transform: uppercase;
    /* Todo el texto a mayuscula */
    transition: .5s ease;
    /* Transicion */
    border-radius: 10px;
    /* Redondear borde */
}

.btn-1:hover {
    /* Cuando pasamos el mouse sobre los enlaces */
    background-color: var(--btn-color);
    box-shadow: 0 0 3rem var(--btn-color);
}

.btn-2 {
    display: inline-block;
    /* Los enlaces son de tipo texto, lo convertimos a block para aplicar padding y margin */
    font-size: 1.9rem;
    font-weight: 700;
    padding: 1rem 1rem;
    background-color: #F9A7B0;
    color: var(--text-oscuro-color);
    text-transform: uppercase;
    /* Todo el texto a mayuscula */
    transition: .5s ease;
    border-radius: 10px;
}

.btn-2:hover {
    /* Cuando pasamos el mouse sobre los enlaces */
    background-color: #D7BDE2;
    box-shadow: 0 0 3rem #D7BDE2;
}

.socialMedia .bx {
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

/* -------------------------------------- HEADER --------------------------------- */
.header {
    position: fixed;
    /* Fijamos posicion al scrollear */
    top: 0;
    /* Lo pegamos hacia arriba */
    left: 0;
    /* Lo pegamos a la izquierda */
    width: 100vw;
    padding: auto;
    background: var(--bg-oscuro-transp);
    /* Color de fondo */
    display: flex;
    /* Ocupa lo largo de la linea del <header> en la pagina */
    justify-content: space-between;
    /* Espacio separado entre si */
    align-items: center;
    /* Centrar texto */
    transition: .5s ease;
    /* Transicion */
    z-index: 9000;
    /* Posicion frente a la pagina */
}

.header.solido {
    background: var(--bg-oscuro-color);
    /* Color de fondo */
}

.logoContainer {
    /* Contenedor del Logo */
    height: 80px;
    /* Altura */
    width: 25%;
    /* Ancho */
    display: flex;
    /* Ocupa lo largo de la linea del <div> en la pagina */
    justify-content: center;
    /* Centrar contenido */
}

.logo {
    /* Imagen Logo */
    height: 100%;
    /* Altura */
    margin-left: 10px;
    /* Separar a la izquierda alrededor del borde de un elemento */
    margin-top: 5px;
    /* Separar arriba alrededor del borde de un elemento */
    padding-bottom: 10px;
    /* Separar abajo entre el contenido y el borde del elemento */
    cursor: pointer;
}

.navbar {
    /* Contenedor navbar */
    padding-right: 5%;
    /* Separar derecha entre el contenido y el borde del elemento */
}

.navbar a {
    /* navbar -> Inicio/QuienesSomos/NuestrosProductos/.. */
    font-size: 1.2rem;
    /* Tamaño texto */
    color: var(--text-claro-color);
    /* Color */
    margin-left: 2rem;
    /* Separar izquierda alrededor del borde de un elemento */
    transition: .3s;
    /* Transicion */
}

.navbar a:hover,
.navbar a.active {
    /* Activar navbar */
    color: var(--nav-hover-color);
    /* Color */
}

#menu-icon {
    font-size: 3.6rem;
    /* Tamaño */
    color: var(--text-claro-color);
    /* Color */
    display: none;
    /* Lo Desaparecemos */
    cursor: pointer;
    /*Cambiar curso a estilo mano*/
    margin-right: 20px;
    /* Separar derecha alrededor del borde de un elemento */
}

/* -------------------------------------- SECCIÓN INICIO --------------------------------- */

@media(min-width:10px) {

    #inicioIntro {
        padding: 100px 200px;
        /* Separar abajo entre el contenido y el borde del elemento */
        position: relative;
        /* Posicionar elemento en su posición de referencia*/
        width: 100%;
        /* Ancho */
        min-height: 100vh;
        display: flex;
        /* Ocupar el total de la linea <section> en la pagina */
        justify-content: center;
        /* Centrar contenido */
        flex-direction: column;
        /* Posicionar texto en forma de columna -> uno debajo del otro */
    }

    #inicioIntro::before {
        z-index: 777;
        /* Posicionar frente a la pagina */
        position: absolute;
        /* Al mover la caja no conserva el espacio */
        width: 100%;
        /* Ancho */
        height: 100%;
        /* Altura */
        top: 0;
        /* Lo pegamos hacia arriba */
        left: 0;
        /* Lo pegamos hacia la izquierda */
    }

    #inicioIntro .contentIntro {
        /* Contenedor <h1> y <p>*/
        z-index: 888;
        /* Posicionar frente a la pagina */
        color: #CE967B;
        /* Color del texto */
        width: 70%;
        /* Ancho */
        margin-top: 50px;
        /* Separar arriba alrededor del borde de un elemento */
    }

    #inicioIntro .contentIntro h1 {
        /* Bienvenido a */
        font-size: 4.5em;
        /* Tamaño del titulo */
        font-weight: 900;
        /* Grosor del titulo */
        text-transform: uppercase;
        /* Transformar en mayuscula */
        letter-spacing: 5px;
        /* Espacio entre letras */
        line-height: 80px;
        /* Espacio entre lineas -> Separa entre "Bienvenido a" y "Sugar Rush" */
        margin-bottom: 40px;
        /* Separar abajo alrededor del borde de un elemento -> Separa entre <h1> y <p> */
    }

    #inicioIntro .contentIntro h1 span {
        /* Sugar Rush */
        font-size: 1.2em;
        /* Tamaño de letra */
        font-weight: 600;
        /* Grosor de la letra */
    }

    #inicioIntro .contentIntro p {
        /* Parrafo */
        margin-bottom: 50px;
        /* Separar abajo alrededor del borde de un elemento -> Separa entre <p> y <section> */
        color: #fff;
        /* Color texto */
        font-size: 25px;
        /* Tamaño del texto */
    }

    #inicioIntro video {
        /* videoIntro*/
        z-index: 000;
        /* Posicionar frente a la pagina */
        position: absolute;
        /* Al mover la caja no conserva el espacio */
        top: 0;
        /* Lo pegamos hacia arriba */
        left: 0;
        /* Lo pegamos hacia la izquierda */
        width: 100%;
        /* Ancho */
        height: 100%;
        /* Altura */
        object-fit: cover;
        /* Ocupa todo el contenedor*/
        filter: brightness(70%);
    }

}

@media (max-width: 1040px) {
    #inicioIntro {
        padding: 100px 20px;
    }
}

/*----------------------------------------- Modal de inicio de secion ------------------------------------------------ */

.modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(0%, -68.7%);
    font-family: 'Poppins', sans-serif;
    --opacity: 0;
    --pointer: none;

    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity .05s;

}

.modal2:target {
    --opacity: 1;
    --pointer: unset;
}


.modal2:target {
    animation: show 1s .5s backwards;
}

@keyframes show {
    0% {
        transform: translateY(-150vh);
    }

}

.modal2:target {
    animation: scale .5s 1.5s backwards;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

}

#form1,
#form2,
#form3 {
    width: 300px;
    padding-bottom: -50px;
    /* margin: 10vh auto 0 auto; */
    padding: 20px;
    background: linear-gradient(#994c4c, #bf5543, rgb(226, 141, 141));
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 12px;
}

#form1 h1,
#form2 h1,
#form3 h1 {
    font-size: 1.2rem;
    color: #0f2027;
    text-align: center;
}

#form1 h2,
#form2 h2,
#form3 h2 {
    font-size: 1rem;
    color: #0f2027;
    text-align: center;
}



#form2 button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: var(--btn-hover-color);
    border: 1px solid rgba(106, 46, 8, 0.755);
    border-radius: 4px;
}

#form2 button:hover {
    background-color: #ce7c7b;
    ;
}

#form2 button:active {
    background-color: var(--btn-color);
}

.las {
    position: absolute;
    margin-left: 250px;
    margin-top: 100px;
    color: rgb(0, 0, 0);
}

.input-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ffffff;
    font-size: 9px;
    height: 13px;
}

.cerrarModalIconoRegistro {
    /*Posicionar bien el boton de cerrado*/
    position: absolute;
    margin-left: 250px;
    cursor: pointer;
}

.close-btn:hover {
    color: #ff0000;
}


/* -------------------------------------- SECCIÓN ¿QUIENES SOMOS? --------------------------------- */

.quienesSomos {
    padding: auto;
    /* Separacion arriba y abajo*/
    background: var(--bg-pastel-color);
    background-size: cover;
    min-height: 100vh;
    display: inline-flex;
    /* Alinear contenido */
    justify-content: center;
    /* Alinear contenido */
    align-items: center;
    /* Centrar contenido */
    background-image: url(/image/fondo2carrito.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 1px solid transparent;
    border-image: linear-gradient(45deg, rgba(255, 162, 162, rgba(234, 78, 78, 0.207)24, 124)) 1;
}

.quienesSomosContent {
    text-align: center;
    /* Centrar contenido */
    margin: 5.6rem;

}

.quienesSomosContent h2 {
    font-size: 4rem;
    line-height: 3.9rem;
    color: var(--text-oscuro-color);
    text-transform: uppercase;
    /* Todo el texto a mayuscula */
    padding: 0 13.8rem;
    /* Distancia entre los bordes de la caja y el texto */
    /* Separacion derecha e izquierda */
    margin-bottom: 15px;
    /* Distancia entre dos cajas */
    /* Separacion hacia abajo */

}

.txtP {
    font-size: 1.4rem;
    color: var(--text-oscuro-color);
    padding: 0 13.8rem;
    /* Distancia entre los bordes de la caja y el texto */
    /* Separacion derecha e izquierda */
    margin-bottom: 2rem;
    /* Distancia entre dos cajas */
    /* Separacion hacia abajo */
}

.quienesSomosGroup {
    display: flex;
    /* Los elementos se coloquen delante de cada uno */
    justify-content: space-between;
    /* Dejar separacion entre contenido */
    margin-bottom: 2.8rem;
    /* Distancia entre dos cajas */
    /* Separacion hacia abajo */

}

.quienesSomosContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 1rem;
    margin-top: 2.77rem;
    /* Separar arriba */
    margin-bottom: 2.77rem
        /* Separar abajo */
}

.quienesSomosContainer .quienesSomosBox {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.quienesSomosBox img {
    width: 100%;
    transition: .5s ease;
}

.quienesSomosBox:hover img {
    transform: scale(1.1);

}

.quienesSomosBox .quienesSomosLayer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .8), #D7BDE2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.quienesSomosBox:hover .quienesSomosLayer {
    transform: translateY(0);
}

.quienesSomosLayer h4 {
    font-size: 18px;
    color: var(--text-claro-color);
}

.quienesSomosLayer p {
    font-size: 12px;
    color: var(--text-claro-color);
    margin: .3rem 0 10px;

}

.quienesSomosLayer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: auto;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;

}

.socialMedia a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 1rem;
    height: 1.5rem;
    background: transparent;
    /* border: .2rem solid var(--btn-color); */
    border-radius: 50%;
    font-size: 15px;
    color: var(--text-claro-color);
    margin-left: 3px;
    margin-right: 3px;
    transition: .5s ease;
}

.socialMedia a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}



/* -------------------------------------- SECCION BLOG --------------------------------- */


.slider {
    background: var(--bg-oscuro-transp);
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
    height: 20rem;
    margin: 5.6rem auto;
    overflow: hidden;
    position: relative;
    width: 95%;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, --bg-oscuro-transp 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: auto;
    position: absolute;
    width: auto;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slideTrack {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(20rem * 14);
}

.slider .slide {
    border-radius: 15%;
    background: rgba(0, 0, 0, .2);
    padding: 10px;
    height: 20rem;
    width: auto;
    margin: 0 25px
}

.slide img {
    border-radius: 15%;
    width: 100%;
}

.slide h3 {
    color: var(--text-claro-color);
}




/* -------------------------------------- Carrito de compras --------------------------------- */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
    /* para ocultar la capa por defecto */
}

#shopping {
    background-image: url(/image/fondo2carrito.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px solid transparent;
    border-image: linear-gradient(45deg, rgba(255, 162, 162, rgba(0, 0, 0, 0)24, 124)) 1;
}

.containerCarrito {
    width: 90%;
    margin: auto;
    transition: 0.5s;
    margin-bottom: 50px;
    text-align: center;
    z-index: 5;
}

/* Titulo carrito  */
.containerCarrito h1 {
    display: inline-block;
    position: relative;
    font-size: 5rem;
    text-transform: uppercase;
    color: rgb(37, 36, 36);
}

.containerCarrito h1::after,
.containerCarrito h1::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 3.5rem;

}

.containerCarrito h1::before {
    right: -140px;
}

.containerCarrito h1::after {
    left: -140px;
}

/* titulo carrito cierre */

.shopping {
    display: inline-block;
    position: relative;
    text-align: right;
    cursor: pointer;
}


.shopping img:hover {
    filter: invert(30%) sepia(29%) saturate(470%) hue-rotate(335deg) brightness(92%) contrast(91%);
    transition: .3s ease;
}

.shopping span {
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 60%;
    padding: 3px 10px;
    width: 10px;
    height: 20px;
    font-size: 13px;
}

.product {
    position: relative;
}

.product .description {
    position: absolute;
    top: -12px;
    left: 0px;
    width: 100%;
    height: 90%;
    border-radius: 1%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.product:hover .description {
    display: block;
    opacity: 1;
}

.product:hover img {
    filter: brightness(0.7);
}

.product:hover button {
    background-color: var(--nav-hover-color);
    color: var(white);
}


.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    margin-top: 50px;

}

.list .item {
    text-align: center;
    background-color: #f3b4b4a1;
    padding: 20px;
    box-shadow: 0 50px 50px #e0bcbabe;
    letter-spacing: 1px;
    border-radius: 5px;

}

.list .item img {
    width: 70%;
    height: 65%;
    border-radius: 50%;
    padding-bottom: 10px;
}

.list .item:hover img,
.list .item:hover button {
    filter: brightness(0.7);
    transition: .5s ease;
}

.list .item:hover img {
    transform: scale(1.09);
    transition: .5s ease;
}

.list .item .title {
    font-weight: 600;
    padding-top: 5px;
    font-size: 2rem;
}

.list .item .price {
    margin: 10px;
    font-size: 1.5rem;
}

.list .item button {
    background-color: rgba(255, 222, 173, 0.561);
    color: #000000;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-style: solid;
    border-color: #572e1b;
    border-radius: 5px;
    font-size: 1.5rem;
}

.list button.clicked:hover {
    background-color: var(--nav-hover-color);
    color: var(white);
    width: 100%;
    padding: 10px;

}


.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 25.1%;
    height: 88%;
    background: linear-gradient(#572e1b, rgb(112, 59, 38), #99654c);
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-top: 5.9%;
    transition: 0.5s;
    border-style: none;
    z-index: 9000;
}

.active .card {
    left: calc(100% - 25.1%);
}

.active .containerCarrito {
    transform: translateX(-150px);
}


.card h1 {
    display: flex;
    color: #E8BC0E;
    font-weight: 100px;
    margin-right: 50px;
    padding: 0 30%;
    height: 90px;
    align-items: center;
    font-size: 40px;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.card .checkOut div {
    background-color: #E8BC0E;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
}




.listCard {
    height: 394px;
    /* Ajusta la altura del carrito según preferencia */
    overflow: auto;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 9px;

}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 0px 0 rgb(0, 0, 0), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.listCard li img {
    width: 65%;
    height: 80%;
    border-radius: 50%;
    margin-top: 1.2rem;
    filter: brightness(1);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.listCard li button {
    background-color: #572e1b86;
    border: none;
    padding: 0.8rem;
    margin-right: 0.5rem;
    border-radius: 20%;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.listCard li button:active:hover {
    background-color: #743d248e;
    border: none;
    padding: 0.8rem;
    margin-right: 0.5rem;
    border-radius: 20%;

}

.listCard .count {
    margin: 0 10px;
    font-size: 15px;
}

.pdf-button {
    color: #ffffff;
    background-color: #22e610be;
    border-radius: 3px;
    border-style: none;
    padding: 1rem;
    text-align: center;
    font-size: 15px;
    width: 200%;
    font-weight: bold;
    cursor: pointer;
}

.pdf-button:active:hover {
    background-color: #2aa81ebe;

}


/* scroll */
/* Cambia el color de fondo y borde de la barra de desplazamiento */
::-webkit-scrollbar {
    background-color: rgba(255, 222, 173, 0.815);
    border-radius: 5px;
}

/* Cambia el color de la parte arrastrable del scroll */
::-webkit-scrollbar-thumb {
    background-color: var(--nav-hover-color);
    border-radius: 3px;

}

/* Cambia el color del borde del scroll cuando está en hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #572e1b;
}

/* Cambia el color del fondo de la barra de desplazamiento cuando está en hover */
::-webkit-scrollbar-track:hover {
    background-color: #99654c;
}



/* -------------------------------------- SECCIÓN BLOG --------------------------------- */
@media(min-width:10px) {

    #blog {
        /* Seccion Blog */
        padding: 100px 200px;
        /* Separar Arriba/Abajo & Derecha/Izquierda*/
        position: relative;
        width: 100%;
        /* Ancho */
        min-height: 100vh;
        /* Altura */
        display: flex;
        /* Ocupar todo el ancho de la linea <div> en la pagina */
        justify-content: center;
        /* Centrar contenido */
        flex-direction: column;
        /* Posicionamos items uno debajo del otro -> columna */
        background: #CE967B;
        /* Color de fondo al activar el boton slider */

    }

    #blog::before {
        z-index: 777;
        /* Posicionar al frente de la pagina */
        position: absolute;
        width: 100%;
        /* Ocupa el total del ancho */
        height: 100%;
        /* Ocupa el total de alto */
    }

    #blog .content {
        /* Contenedor de Casamientos/NuestraPropuestas */
        z-index: 888;
        /* Posicionar al frente de la pagina */
        color: #CE967B;
        /* Color texto */
        width: 70%;
        /* Ancho */
        margin-top: 50px;
        /* Separar arriba */
        display: none;
        /* Desaparecemos un contenedor para que se coloque c/u en su respectivo video */
    }

    #blog .content.active {
        display: block;
    }

    #blog .content h1 {
        /* Tamaño del titulo */
        font-weight: 900;
        /* Grosor del titulo */
        text-transform: uppercase;
        /* Transformar titulo a mayuscula */
        letter-spacing: 5px;
        /* Espacio entre letras */
        /* line-height: 75px; */
        /* Espacio entre texto */
        margin-bottom: 40px;
        /* Separar abajo entre <h1> y <p> */
    }

    #blog .content h1 span {
        /* NuestrasPropuestas */
        font-size: 1em;
        /* Tamaño del subtitulo */
        font-weight: 600;
        /* Grosor del subtitulo */
    }

    #blog .content p {
        /* Parrafo */
        margin-bottom: 65px;
        /* Separar abajo entre <p> y <slider> */
        color: #fff;
        /* Color del parrafo */
        font-size: 25px;
        /* Tamaño del parrafo */
    }

    .slider-navigation {
        /* Contenedor Slider */
        z-index: 888;
        /* Posicionar al frente de la pagina */
        position: relative;
        display: flex;
        /* Ocupar todo el ancho de la linea <div> en la pagina */
        justify-content: center;
        /* Centrar slider */
        align-items: center;
        /* Alinear slider */
        transform: translateY(120px);
        /* Posicionar el slider en el eje Y del Contenedor */
    }

    .slider-navigation .nav-btn {
        /*Botones del Slider */
        width: 18px;
        /* Ancho */
        height: 18px;
        /* Altura */
        background: #fff;
        /* Color */
        border-radius: 50%;
        /* Redondear borde */
        cursor: pointer;
        /* Mouse estilo manito al posicionarse */
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
        /* Sombra minima */
        transition: 0.3s ease;
        /* Velocidad de transicion */
        border: solid black;
        /* Borde del boton */
        border-width: 1px;
        /* Ancho del borde */
        margin-top: 100px;
        /* Separar <boton slider> de <p> */
    }

    .slider-navigation .nav-btn:not(:last-child) {
        margin-right: 60px;
        /* Separar botones slider entre si */
    }

    .slider-navigation .nav-btn:hover {
        /* boton slider al posicionarse */
        transform: scale(1.3);
        /* Agrandar */
    }

    .slider-navigation .nav-btn.active {
        /* Boton Slider seleccionado */
        background: #CE967B;
        /* Color */
    }

    #blog video {
        /* Video*/
        top: 0;
        /* Mantener pegado arriba */
        left: 0;
        /* Mantener pegado izquierda */
        width: 100%;
        /* Ocupar todo el ancho */
        height: 100%;
        /* Ocupar todo el alto */
        object-fit: cover;
        /* Ocupa el total del contenedor */
    }


    .video-slide {
        /* Efecto circular al pasar video */
        position: absolute;
        width: 100%;
        /* Ocupa todo el ancho */
        clip-path: circle(0% at 0 50%);
        /* No ocupa lugar y al activarse se agranda un 50% */
        filter: brightness(70%);
    }

    .video-slide.active {
        clip-path: circle(150% at 0 50%);
        /* Ocupa el Total del video y al activarse se achica un 50% */
        transition: 1.3s ease;
        /* Velocidad de transicion */
    }



    @media (max-width: 1040px) {
        #blog {
            padding: 100px 20px;
        }
    }


    /* -------------------------------------- FORMULARIO --------------------------------- */
    @media(min-width:10px) {
        /*Formulario*/

        #formulario {
            background-color: black;
        }


        .formContainer {
            display: flex;
            background-image: url(../image/dream_TradingCard.jpg);
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            /* height: 800px;  */



        }

        .form {
            padding: 20px 70px;
            width: 80%;
            display: flex;
            flex-direction: column;
            /* Se coloquen debajo del otro los elementos */
            margin-top: 50px;
        }

        input {
            font-size: 1.5rem;
            /* Tamaño de texto contenido de los inputs */
        }

        textarea {
            font-size: 1.5rem;
        }

        .box {
            border: 0;
            background-color: #ccccdb7d;
            padding: 1rem;
            border-radius: 1rem;
            margin-bottom: 1rem;
        }

        #enviar {
            cursor: pointer;
        }

        .submit {
            background-color: var(--btn-hover-color);
            border: 0;
            padding: 15px;
            color: #000;
            font-size: 16px;
            border-radius: 25px;
            width: 100%;
            margin-top: 25px;
            box-shadow: 0 0 20px rgba(201, 199, 253, .5);
        }

        .info {
            padding: 50px;
        }

        .location {
            display: flex;
            flex-direction: column;
            margin-bottom: 60px;
        }

        .location h3 {
            color: #fff;
            font-size: 45px;
            font-weight: 600;
            margin-bottom: 25px;
        }

        .location p {
            font-size: 16px;
            color: #969EAE;
            margin-bottom: 50px;
        }

        .imgInfo-1 {
            width: 100%;
            margin-top: 10%;
        }

    }

    /* -------------------------------------- SECCIÓN MODAL --------------------------------- */

    .boton-container {
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .boton-M {
        margin: auto;
        background-color: royalblue;
        color: #fff;
        text-decoration: none;
        padding: 1.2em 3em;
        border-radius: .4em;
    }

    .modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #303030be;
        display: flex;

        --opacity: 0;
        --pointer: none;

        opacity: var(--opacity);
        pointer-events: var(--pointer);
        transition: opacity .5s;

        z-index: 9040;
    }

    .modal:target {
        --opacity: 1;
        --pointer: unset;
    }

    .modal-container {
        margin: auto;
        background-color: #fff;
        width: 90%;
        max-width: 600px;
        max-height: 90%;
        overflow: hidden;
        text-align: center;
        padding: 2.5em 1.5em;
        border-radius: 1em;
        z-index: 9050;
    }

    .modal:target .modal-container {
        animation: show 1s .5s backwards;
    }

    @keyframes show {
        0% {
            transform: translateY(-150vh);
        }

    }

    .modal__picture {
        width: 90%;
        margin: 0 auto;
        max-width: 400px;
        margin-bottom: 2em;
    }

    .modal:target .modal__picture {
        animation: scale .5s 1.5s backwards;
    }

    @keyframes scale {
        0% {
            transform: scale(0);
        }

    }

    .modal__img {
        width: 100%;
        display: block;

    }

    .modal__title {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .modal__title--bold {
        font-weight: 700;
    }

    .modal__paragraph {
        margin-top: 1em;
        margin-bottom: 1em;
        line-height: 1.5;
    }

    .modal__close {
        display: inline-block;
        border: 1px solid;
        padding: 1em 2em;
        text-decoration: none;
        font-weight: 700;
        color: #333;
        border-radius: .4em;
    }

    #cerrarModalIcono {
        position: absolute;
        margin-left: 250px;
        cursor: pointer;
    }

    .modalForm {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        margin-right: 10%;
        margin-left: 10%;
    }


    /*----------------------------------- Pie de pagina-------------------------------*/


    .footer {
        /* Pie de pagina */
        padding: 5.5rem 0;
        /* Separar arriba y abajo */
        background-color: var(--bg-oscuro-color);
        /* Color de fondo */
    }

    .footerContent {
        /* Contenedor del pie de pagina */
        display: flex;
        /* Ocupar todo el ancho de la linea <div> que ocupa en la pagina */
        justify-content: space-between;
        /* Repartir el espacio sobrante de su contenedor de manera igual */
        margin: auto 5.5rem;
        /* Separa a la derecha */
    }

    .footerContent i {
        /* iconos sociales */
        color: #FAEc8f;
        /* Color */
        font-size: 1.2rem;
        /* Tamaño */
        margin-right: 1rem;
        /* Separar abajo entre si */
    }

    .link h3 {
        /* Direccion/Telefono/Email */
        font-size: 26px;
        /* Tamaño de la letra */
        color: var(--text-claro-color);
        /* Color titulo */
        margin-bottom: 15px;
        /* Separar abajo del titulo */
    }

    .link li {
        /* Datos -> Direccion/Telefono/Email */
        font-size: 1.2rem;
        /* Tamaño de la letra */
        color: var(--text-claro-color);
        /* Color letra */
        display: block;
        /* Ocupa el ancho maximo del contenedor */
        margin-bottom: 1rem;
        /* Separar abajo */
    }

    .link a {
        /* Facebook/Twitter/intagram/Youtube */
        font-size: 1.2rem;
        /* Tamaño de la letra */
        color: var(--text-claro-color);
        /* Color de la letra */
        display: block;
        /* Ocupa el ancho maximo del contenedor */
        margin-bottom: 1rem;
        /* Separar abajo */
    }

    .maps iframe {
        /* GoogleMaps */
        margin-top: 1.2rem;
        /* Separar arriba */
        margin-bottom: 2.3rem;
        /* Separar abajo */
        width: 100%;
        /* Ocupa el total del contenedor */
        height: 19.5rem;
        /* Altura */
    }

    .scrollTop {
        /* ContenedorFlecha */
        width: 2rem;
        /* Ancho */
        height: 2rem;
        /* Altura */
        text-decoration: none;
        /* Sacar hipervinculo */
        background-color: #faec8f;
        /* Color de fondo */
        border-radius: 5px;
        /* Redondear el borde */
        position: fixed;
        /* Fijar elemento en la pagina al hacer scroll */
        display: flex;
        /* Ocupar todo el ancho de la linea <a> en la pagina */
        float: right;
        /* Tirarlo a la derecha */
        margin-top: 1rem;
        /* Separar arriba */
        margin-right: 1rem;
        /* Separar derecha de la pagina */
        bottom: 1rem;
        right: 1rem;
        z-index: 800;
        /* Posicionar al frente de toda la pagina */
    }

    .scrollTop:hover {
        /* Al apoyar mouse en contenedorFlecha */
        background-color: var(--btn-color);
        /* Color de fondo */
        box-shadow: 0 0 1rem var(--btn-color);
        /* Sombreado de color */
    }

    .arrow {
        /* Flecha */
        margin: auto;
        /* Centrar */
        width: 1.5rem;
        /* Ancho */
        height: 1.5rem;
        /* Altura */
    }

    .list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        margin-top: 50px;
    }

    /* ------------------------- Resolución menor a 1370px -------------------------- */
    @media(max-width:1370px) {
        html {
            font-size: 13px;
        }

        .list {
            grid-template-columns: repeat(3, 1fr);
        }




    }

    /* ------------------------- Resolución menor a 768px -------------------------- */

    @media(max-width:768px) {

        html {
            font-size: 14px;
        }

        .list {
            grid-template-columns: repeat(2, 1fr);
        }

        #menu-icon {
            display: inline-block;
            right: 50px;
        }

        .logoContainer {
            width: auto;
        }

        .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 1rem 3%;
            background: var(--bg-oscuro-color);
            border-top: .1rem solid rgba(0, 0, 0, .2);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
            display: none;
        }

        .navbar.active {
            display: block;
        }

        .navbar a {
            display: block;
            font-size: 2rem;
            margin: 3rem 0;
        }

        .txtP {
            padding: 0 0;
        }

        .quienesSomosContainer {
            grid-template-columns: repeat(3, 1fr);
        }

        .pedidoContainer .pedidoBox {
            flex: 1 1 25rem;
        }

        .formContainer {
            flex-direction: column-reverse;
        }

        .imgInfo-1 {
            display: none;
        }

        .form {
            width: 100%;
        }

        .footerContent {
            flex-direction: column;
        }

        .info {
            padding: 50px 0 0 50px;
        }

        .form {
            margin-top: 0;
        }

        .location {
            margin-bottom: 0;
        }

        .location h3 {
            margin-bottom: 0;
        }



    }


    /* ------------------------- Resolución menor a 617px -------------------------- */
    @media (max-width: 617px) {
        .quienesSomosContainer {
            grid-template-columns: repeat(1, 1fr);
        }

        .info {
            padding: 50px 0 0 50px;
        }

        .form {
            margin-top: 0;
        }

        .location {
            margin-bottom: 0;
        }

        .location h3 {
            margin-bottom: 0;
            font-size: 3rem;
        }

        .list {
            grid-template-columns: repeat(1, 1fr);
        }

        .quienesSomos {
            width: 90%;
        }


    }

    /* ------------------------- Resolución menor a 370px -------------------------- */
    @media(max-width:370px) {
        html {
            font-size: 11px;
        }

        .casamiento {
            font-size: 4rem;
        }

        h1.casamiento {
            font-size: 3rem;
        }

        .quienesSomosContent h2 {
            padding: 0 0;
        }

        .txtP {
            display: none;
        }

        #inicioIntro .contentIntro p {
            display: none;
        }

        #inicioIntro .contentIntro h1 {
            font-size: 2rem;
            width: 95%;
        }

        #inicioIntro .contentIntro h1 span {
            font-size: 4rem;
        }
    }

    .whatsapp-button {
        position: fixed;
        bottom: 2px;
        left: 5px;
        /* ajustar la propiedad "right" para mover el botón hacia la derecha */
        z-index: 9999;
        animation: move-whatsapp 3s ease-in-out alternate infinite;
    }

    @keyframes move-whatsapp {
        from {
            transform: translateY(-3px);
        }

        to {
            transform: translateY(3px);
        }
    }

    .whatsapp-button i {
        font-size: 4rem;
        /* ajustar la propiedad "font-size" para cambiar el tamaño del icono */
        color: #25D366;
    }

    .whatsapp-button .contact-text {
        opacity: 0;
        position: absolute;
        left: 3.7rem;
        top: 50%;
        transform: translate(0, -50%);
        padding: 0.7rem;
        background-color: #3333336e;
        color: #fff;
        border-radius: 0.7rem;
        transition: opacity 0.4s ease-in-out;
        /* agregar transición */
    }

    .whatsapp-button:hover .contact-text {
        opacity: 1;
    }


    /* ------------------------------------------------------------------------------------------------------ */
    .modalLogin {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        min-height: 100vh;
        scroll-behavior: auto;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        display: flex;
        align-items: center;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;

    }

    .modalLogin:target {
        opacity: 1;
        pointer-events: auto;
    }

    .modalLogin>div {
        width: fit-content;
        height: fit-content;
        margin: auto;
        /* padding: 5px 20px 13px 20px; */
        overflow-y: auto;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
    }

    .cerrarLogin {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: 12px;
        text-align: center;
        top: 10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

    .cerrarLogin:hover {
        background: #00d9ff;
    }
}